<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!-- Uygulama parametreleri 
                     
         GirisSekli uygulamaya giriş şeklini belirtir. 
         STD : Normal wintime kullanıcısı ile giriş
         WND : Windows kullanıcı ile giriş, 
               Şayet uygulamaya girişte windows şifresini tekrar girmesi isteniyor ise Site tanımlarında 
               Windows Authentication açık olmalı 
                
         Firma : Raporlara yazılacak firma adı yazılmalıdır.
          -->
    <add key="GirisSekli" value="STD" />
    <add key="Firma" value="ERBEN A.Ş." />
    <add key="LDAP" value="LDAP://rb-gc-12.EMEA.bosch.com:3268/DC=tr,Dc=bosch,DC=com" />
    <add key="LDAPUinfo" value=",ou=bosch.com,ou=bosch,DC=tr,Dc=bosch,DC=com" />
    <!-- Bilgilerin gündemde kalma süreleri-->
    <add key="MaxPlanGun" value="100" />
    <add key="MaxFMGun" value="30" />
    <add key="MaxOnayGun" value="5" />
    <add key="KayitSekli" value="Hepsi" />
    <!-- Mail Server özellikleri-->
    <add key="MailServer" value="mail.erben.com.tr" />
    <add key="MailPort" value="" />
    <add key="MailAdres" value="pernet@erben.com.tr" />
    <add key="MailSifre" value="162636" />
    <!-- Bosch planlama değişkenleri-->
    <!-- PLANLIST : Planlanacak mazeret listesi
         PLANGUN : Planlama yapılacak günler PSÇPCCPR haftanın günleri ve Resmi tatiller
         Planlanacak günler için '1' diğerleri için '0' yazınız.-->
    <add key="PLANLIST" value="YILIZ,UCRLI,UCSIZ" />
    <add key="PLANDLIST" value="DESIZ" />
    <add key="PLANGUN" value="11111101" />
    <!-- ONAYSEVIYE : Planlanacak mazeret ve fazla mesai onaylama seviyesi
         Toplu fazla mesai girişlerinde ve mazeret taleplerinde kullanılacaktır.
         Bu değer 1..5 arasında bir değer olmalıdır.
         ONAYSEKLI : 1 rastgele onay yapar bir önceki amirin onayına bakmaz. Son amir onaylarsa wintime aktarır.
         ONAYSEKLI : 2 Kendisi ve sonrasında onay yoksa ilgili amirin ekranına düşer. Son amir onaylarsa wintime aktarır.
         ONAYSEKLI : 3 Bir önceki amir onaylamadan bir sonraki amirin ekranına düşmez sırasıyla tüm amirlerin onayını bekler. Son amir onaylarsa wintime aktarır.
         FMTALEPNEDENI : Fazla mesai talep nedenleri. Sabit nedenleri yazarken virgül ile ayırmak gerekir-->
    <add key="ONAYSEVIYE" value="2" />
    <add key="ONAYSEKLI" value="1" />
    <add key="FMTALEPNEDENI" value=",SİPARİŞ YETİŞTİRME,AMİR TALEBİ,BAKIM,YILSONU SAYIM" />
    <!-- Bosch FM onay değişkenleri 
    FMCLIST -  Çalışılan Fazla Mesai
    FMOLIST -  Onaylanan Fazla Mesai
    FMRLIST -  Reddedilen Fazla Mesai
    GCMESAJ -  Giriş Çıkış Hareketleri bakiyeli mesajı
    FMGRPLIST - FM Gösterilecek personel grubu Per_Grp2
    DVMSZLIST - Devamsız mazeretleri 
    BEYAZGRP - Beyaz yakalı personel Otomatik kullanıcı ekleme bölümünde kullanılmaktadır. Per_Grp2 listesi
    BEYAZYTK - Otomatik kullanıcı eklenirken kullanılacak yetki grubu -->
    <add key="FMCLIST" value="5005,FM2,FM3,NCAL" />
    <add key="FMOLIST" value="9005,oFM2,oFM3" />
    <add key="FMRLIST" value="9000,rFM2,rFM3" />
    <add key="GCMESAJ" value="Son kart okutma hareketlerinizin sisteme yansıması zaman alabilir. Kart okutma hareketlerinizin 1 saat içerisinde sisteme yansımadığı durumlarda HRL/Puantaj birimiyle iletişime geçebilirsiniz." />
    <add key="FMGRPLIST" value="13,71,21,MÜDÜR" />
    <add key="DVMSZLIST" value="5520" />
    <add key="BEYAZGRP" value="13,70,25" />
    <add key="BEYAZYTK" value="6" />
    <!-- Bosch rapor değişkenleri Peryodik hesaplar
         FAZLA  - Esnek İzinde Fazla Mesai hesap adı
         EKSIK  - Esnek İzinde Eksik çalışma hesap adı
         BAKIYE - Esnek İzinde Bakiye çalışma
         YILIZ  - Yıllık İzin Mazeret Kodu
         YILFM  - Yıllık Fazla Mesai Çalışma Hesap Adı
         YILBAK - Esnek İzinde Kalan yıllık izin bakiyesi hesap adı
   -->
    <add key="YILIZ" value="YILIZ%" />
    <add key="FAZLA" value="%FM" />
    <add key="EKSIK" value="%ZOR" />
    <add key="BAKIYE" value="%YIL" />
    <add key="YILFM" value="YILFM" />
    <add key="YILBAK" value="YIL" />
    <!-- Bosch puantaj rapor sabitleri -->
    <add key="NCLIST" value="NCAL" />
    <add key="HTLIST" value="HTAT1,HTAT2,HTAT3" />
    <add key="GNLIST" value="RESTA,RESTA2,RESTA3" />
    <add key="YILIST" value="YILIZ,YILI1,YILI2" />
    <add key="UILIST" value="UCRLI,UCIZ2,UCIZ3" />
    <add key="FMLIST" value="FM1,FM2,FM3,FM4" />
    <add key="RPLIST" value="RAPOR,RPR2,RPR3,RPR4" />
    <add key="UZLIST" value="UCSIZ,UCSZ2,UCSZ3,UCSZ4" />
    <add key="DZLIST" value="DESIZ,DESZ2,DESZ3,DESZ4" />
    <add key="FMLOHN" value="1,2,3,4,5" />
    <!-- Bosch Teşvik Parametreleri 
         TSVVAR : Kullanılacak vardiya modelleri
         TSVGUN : Kullanılacak gün modelleri-->
    <add key="TSVVAR" value="818" />
    <add key="TSVGUN" value="818P,818CT,818" />
    <!--Transfer Edilebilecek Mazeret Tanımları-->
    <add key="TMazeret" value="GÖREV,Görev,11" />
    <!-- Dinlenme süreleri modeli tanımları 
    Model : Vardiya Modelleri -->
    <add key="SAAT1" value="" />
    <add key="MODEL1" value="818,A1818" />
    <add key="SAAT2" value="12" />
    <add key="MODEL2" value="818" />
    <add key="SAAT3" value="0" />
    <add key="MODEL3" value="818,A1818" />
    <add key="SAAT4" value="11,86" />
    <add key="MODEL4" value="A1818" />
    <add key="SAAT5" value="12" />
    <add key="MODEL5" value="818,A1818" />
    <!--İzin Form dikkate alınmayacak mazeretler-->
    <add key="IPMazeret" value="14,15,YILIZ" />
    <!--İzin Listesinde dikkate alınmayacak mazeretler-->
    <add key="IzMazeret" value="HTAT,RESTA" />
    <!-- Mazeret talep parametreleri 
    TalepBas    = Talep edilecek iznin başlangıcını sınırlayabilirsiniz.
                  Örnek: Bu gün ve sonrası için talep yapabilecek ise bu değer = 0 dır.
                  En az bir hafta önceden talep açmalı diye sınırlamak isterseniz. =7 yazmalısınız.
                  Bu durumda iznin başlangıç gününü bugün+7 gün sonrasını seçebilir. Daha erkeni seçemez.
                  Geçmişe dönük izin talebi yapabilecek ise o zaman da değerleri negatif yazabilirsiniz.
                  Geçmiş bir hafta için de izin talep etmesini istiyorsanız. =-7 yazabilirsiniz.
                  
    TalepBit    = Talep bitiş tarihini sınırlayabilirsiniz.
                  Örnek: Bir aydan sonrası için talep yapılmasının istemiyorsanız. =30 yazabilirsiniz.
                  Bu durumda izin başlangıcı olarak bugün+30 günden sonrasını seçemez.
    
    TalepSon    = İzin bitiş tarihinde seçilebilecek en büyük değeri belirler.
                  Onun için hafta tatili ve resmi tatilleri de kapsamalıdır.
    
    TalepMin    = Talep edilecek izin süresini sınırlandırabilirsiniz.
                  Bir defa da talep edebileceği minimum izin süresi.
   
    TalepMax    = Talep edilecek izin süresini sınırlandırabilirsiniz.
                  Bir defa da talep edebileceği maximum izin süresi.
                  
    UcretTip    = Saatlik, Aylık ve Yönetici karşılaştırması için kullanılacak grup, 
                  Tanımlanmaz ise standart olarak Per_Grp1 değerini alır.
    Saatlik     = Saat Ücretli çalışanlar
    Aylik       = Aylik Ücretli çalışanlar. Vekalet edecek personel bölümü açılacaktır.  
    Yönetici    = Yönetici çalışanlar.
    Vrd730      = Günlük 7.30 saat çalışanlar
    Vrd900      = Günlük 9.00 saat çalışanlar
    TALEP IZIN İÇİN TAM GÜN ( 0) YILIZ, ÖÖ ( 1 ) YILIZOO, ÖS İÇİN ( 2) YILIZOS  YAZAR 

    -->
    <add key="TalepBas" value="-120" />
    <add key="TalepBit" value="30" />
    <add key="TalepSon" value="40" />
    <add key="TalepMin" value="1" />
    <add key="TalepMax" value="30" />
    <add key="TalepIzin" value="5110,5111,5112" />
    <add key="GecmisFMTalep" value="10" />
    <add key="GecmisOnay" value="120" />
    <add key="UcretTip" value="Per_Grp2" />
    <add key="Saatlik" value="13,53,22,73" />
    <add key="Aylik" value="11,12,18,19,51,58,59,21,23,71,78,79" />
    <add key="Yonetici" value="14,15,16,17,54,56,25,74,76" />
    <add key="Per_grp2" value="12,13" />
    <!--Mazeret talep parametreleri sonu-->
    <add key="Telerik.Skin" value="Windows7" />
    <add key="Telerik.ScriptManager.TelerikCdn" value="Disabled" />
    <add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled" />
  </appSettings>
  <connectionStrings>
    <!-- Veri tabanı bağlantı parametreleri-->
    <!--<add name="SQLDirect" connectionString="Server=ZAG-PC\SQLEXPRESS;Initial Catalog=wtimserv;User ID=wtime;Password=9299a240c058444daa181110c867f6655863046Fc75c4c96906a926b985e56abaa605aea08e9473b83745169913956e17ef33761b8bd40b4adbd5f3e70c1f6a7;Max Pool Size=500;Min Pool Size=10;Connect Timeout=45" providerName="System.Data.SqlClient"/>-->
    <add name="SQLxDirect" connectionString="Server=HAKANDEMIR-NB\SQLEXPRESS;Initial Catalog=wtimserv;User ID=wtime;Password=geco;Max Pool Size=500;Min Pool Size=10;Connect Timeout=45" providerName="System.Data.SqlClient" />
    <add name="SQLDirect" connectionString="Server=HAKANDEMIR-NB\SQLEXPRESS; DATABASE=wtimserv; UID=wtime; PWD=geco" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime executionTimeout="1200" maxRequestLength="51200" />
    <httpHandlers>
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
      <add type="Telerik.ReportViewer.WebForms.HttpHandler, Telerik.ReportViewer.WebForms, Version=12.2.18.1017, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" path="Telerik.ReportViewer.axd" verb="*" validate="true" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
    </httpHandlers>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.6">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Telerik.Reporting, Version=12.2.18.1017, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" />
        <add assembly="Telerik.ReportViewer.Html5.WebForms, Version=12.2.18.1017, Culture=neutral, PublicKeyToken=A9D7983DFCC261BE" /> 
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
      </controls>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.VisualStudio.GraphModel" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Build.Framework" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845DCD8080CC91" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Documents.Spreadsheet" publicKeyToken="5803cfa389c90ce7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2018.3.1010.40" newVersion="2018.3.1010.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Documents.Core" publicKeyToken="5803cfa389c90ce7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2018.3.1010.40" newVersion="2018.3.1010.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Documents.Spreadsheet.FormatProviders.OpenXml" publicKeyToken="5803cfa389c90ce7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2018.3.1010.40" newVersion="2018.3.1010.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Documents.Flow" publicKeyToken="5803cfa389c90ce7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2018.3.1010.40" newVersion="2018.3.1010.40" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <handlers>
      
      
      
      <remove name="ChartImage_axd" />
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <remove name="Telerik_Web_UI_WebResource_axd" />
      
      
      
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      <add name="Telerik.ReportViewer.axd_*" path="Telerik.ReportViewer.axd" verb="*" type="Telerik.ReportViewer.WebForms.HttpHandler, Telerik.ReportViewer.WebForms, Version=12.2.18.1017, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" preCondition="integratedMode" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>
